@import "../src/styles/fontawesome/font-awesome.less";
@import "../src/styles/texteditor.less";

#main, #too {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #fff;
}