.form_icon, .form_icon_right {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  cursor: pointer;
  padding: 6px;
  color: #369AD5;
  &:hover {
    color: black;
  }
}
.form_icon_color {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  cursor: pointer;
  color: #369AD5; 
}
.form_icon_select {
  position: relative;
  width: auto;
  height: 28px;
  text-align: center;
  cursor: pointer;
  padding: 4px;
  color: #369AD5;
}
.form_icon_wl {
  overflow: visible;
}
// .form_icon_btn {
//   right: 0;
//   top: 0;
//   position: absolute;
//   width: 28px;
//   height: 28px;
//   text-align: center;
//   cursor: pointer;
//   color: #369AD5; 
// }
.form_icon_active {
  background-color: lightgray;
}
.form_icon_right {
  float: right;
}
.form_btns {
  position: relative;
  width: 100%;
  height: auto;
}
.form_btngr {
  float: left;
  position: relative;
  width: auto;
  height: 28px;
}
.form_btngr_group {
  padding-right: 28px;
  margin-right: 2px;
}
.form_text_wrap {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: auto;
  background-color: #E9EFF2;
}
.form_text {
  position: relative;
  height: auto;
  min-height: 100%;
  width: 100%;
  padding: 10px 10px 0px 10px;
  color: #000000;
  text-align: left;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: inherit;
  font-family: 'Calibri';
  font-size: 16px;
  border: none;
  outline: none;
  img {
    position: relative;
    max-width: 100%;
  }
  p, ol, ul {
    padding-left: 40px;
  }
  // td {
  //   padding: 3px 15px;
  // }
  a {
    color: blue;
    border: 1px solid blue;
    border-radius: 3px;
    padding: 0 2px;
  }
  .text_editor_anchor_node {
    background: #369AD5;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  * {
    background-color: inherit;
  }
  &.form_movetableintext {
    td {
      padding: 3px 15px;
      cursor: se-resize;
    }    
  }
  &.form_moveimgintext {
    img {
      cursor: se-resize;
    }
  }
}
.form_textfooter {
  position: relative;
  width: 100%;
  height: auto;
  transition: all 0.3s;
  overflow: hidden;
  padding: 1px 0 0 0;
  .form_sizefooter {
    font-size: 18px;
  }
}
.form_sizefooter {
  position: relative;
  width: 100%;
  height: 20px;
  text-align: center;
  cursor: s-resize; 
  padding-right: 15px;
  color: gray;
  background: #E9EFF2;
  &:hover {
    color: #369AD5;
    background: none;
  }
}
.tooltip {
  display: none;
  position: fixed;
  width: auto;
  height: auto;
  padding: 0 3px;
  font-size: 1em;
  color: #fff;
  background: rgba(0,0,0,.8);
  cursor: default;
  z-index: 2000000;
}
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form_text_screen {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  // padding: 50% 5%;
  display: none;
  overflow: auto;
  z-index: 1000;
  img {
    width: 100px !important;
    height: auto !important;
  }
}
.form_text_center {
  position: relative;
  left: 10%;
  width: 80%;
  top: 25%;
  height: auto;
}
.form_text_window {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 100%;
  // margin-top: -50%;
}
.form_text_preimg {
  position: relative;
  width: 100%;
}
.form_text_closer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: right;
  color: white;
}
.form_text_wrap_max {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1000000;
  .form_btns_wrap {
    top: 0;
    position: absolute;
  }
  .form_text_wrap {
    position: absolute;
    width: 100%;
    height: initial !important;
    top: 28px;
    bottom: 0;
  }
  .form_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    border: none;
    outline: none;
  }
  .form_textfooter {
    display: none;
  }
}
.form_btns_wrap {
  position: relative;
  width: 100%;
  height: auto;
}
.clearfix {
  clear: both;
}
.table_choice_wrap {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 100%;
  z-index: 2000001;
}
.table_choice {
  position: fixed;
  width: auto;
  height: auto;
  background-color: #fff;
  border-collapse: collapse;
}
.table_choice_innera {
  position: relative;
  width: 13px;
  height: 13px;
  border: 0.5px solid #E9EFF2;
}
.table_choice_innerb {
  .table_choice_innera;
  background-color: #369AD5;  
}